<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Top Trumps Login</title>
        <link href="../static/tt.css" rel="stylesheet">
    </head>
    <body>
        <div class="login">
            <h1>Login</h1>
              <form method = "post" action="http://127.0.0.1:5000/toptrumps">
                <input type="text" name="username" placeholder="Username" required="required" />
                  <input type="password" name="pin" placeholder="Pin" required="required" />
                  <button type="submit" class="btn btn-primary btn-block btn-large">Play Toptrumps</button>
              </form>
          </div> 
    </body>
</html>